.row
  .col-md-6
    = form_for(@user) do |f|
      = f.label :name
      = f.text_field :name, class: 'form-control'
      = f.fields_for :phones do |phone_f|
        = render 'phone_fields', f: phone_f
      .links
        = link_to_add_association 'add phone', f, :phones
      = f.fields_for :address do |address_f|
        = address_f.label :line1
        = address_f.text_field :line1, class: 'form-control'
        = address_f.label :zip
        = address_f.text_field :zip, class: 'form-control'
 
      = f.submit